<nav>
  <ul class="nav-list">
    <li><a href="/" class="active">Home</a></li>
    <li><a href="#">Inventory</a></li>
    <li><a href="#">Financing</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>