<!DOCTYPE html>
<html>
<head>
  <title>Inventory App - {{title}}</title>
  <link rel="sitesheet" href="/css/site.css">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <h1><a href="/">Inventory App</a></h1>
      <nav>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="/inventory/SUV">SUV</a></li>
          <li><a href="/inventory/Sedan">Sedan</a></li>
          <li><a href="/inventory/Truck">Truck</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
</body>
</html>
