<h2>Welcome to Our Inventory</h2>
<p>Browse our selection of vehicles below or explore our services.</p>
<ul>
  <li><a href="/inventory/SUV">SUV</a></li>
  <li><a href="/inventory/Truck">Truck</a></li>
  <li><a href="/inventory/Sedan">Sedan</a></li>
</ul>