<h1>Inventory</h1>
<ul>
  <li><a href="/inventory/classification/suv">SUV</a></li>
  <li><a href="/inventory/classification/truck">Truck</a></li>
  <li><a href="/inventory/classification/sedan">Sedan</a></li>
  <li><a href="/inventory/classification/Coupes">Coupes</a></li>
    <li><a href="/inventory/classification/Vans">vans</a></li>

</ul>